.MuiMenuItem-root {
  border-radius: var(--border-radius-sm) !important;
  text-decoration: none !important;
  color: var(--color-primaryLight) !important;
  padding: var(--padding-xs) var(--padding-sm) !important;
  margin: 2px 0px !important;
  font-size: var(--font-size-text-sm) !important;
  white-space: inherit !important;
  background-color: transparent !important;
  transition: background-color var(--tr-dur) !important;
}

@media (hover: hover) {
  .MuiMenuItem-root:hover {
    background-color: var(--color-primary-shade100) !important;
  }
}

.MuiMenuItem-root.Mui-selected {
  background-color: var(--color-primary-shade100) !important;
}

.MuiMenuItem-root.Mui-disabled {
  opacity: 0.4 !important;
  pointer-events: none !important;
  cursor: not-allowed !important;
}

.MuiMenuItem-root .MuiDivider-root {
  width: 100% !important;
  pointer-events: none !important;
  margin: 0 !important;
}

.MuiMenuItem-root.MuiMenuItem-divider {
  opacity: 1 !important;
}
