.card {
  position: relative;
  background-color: var(--tzy-color-content-bg);
  border: 1px solid var(--tzy-color-line-secondary);
  border-radius: var(--tzy-border-radius-md);
  box-shadow: var(--tzy-box-shadow-card);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--tzy-color-line-secondary);
  padding: var(--tzy-padding-sm) var(--tzy-padding-md);
  min-height: 70px;
  gap: var(--tzy-padding-sm);
}

.headerActions {
  display: flex;
  align-items: center;
  gap: var(--tzy-padding-sm);
}

.footerActions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-top: 1px solid var(--tzy-color-line-secondary);
  padding: var(--tzy-padding-sm) var(--tzy-padding-md);
  min-height: 70px;
  gap: var(--tzy-padding-sm);
}

.content {
  padding: var(--tzy-padding-md);
}
