.noDataWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-light-shade100);
  padding: var(--padding-md) var(--padding-xl) var(--padding-xl) var(--padding-xl);
  border-radius: var(--border-radius-md);
}

.image {
  width: 140px;
}

.image svg {
  display: block;
  width: 100%;
}
