.MuiMenu-button-wrapper {
  display: inline-flex !important;
  cursor: pointer !important;
}

.MuiMenu-paper {
  background-color: var(--color-content-bg) !important;
  border-radius: var(--border-radius-md) !important;
  box-shadow: var(--box-shadow-menu) !important;
  border: 1px solid var(--color-line-primary) !important;
  margin-top: 4px !important;
}

.MuiList-root.MuiMenu-list {
  padding: 10px 10px !important;
}