.container {
  display: flex;
  flex-direction: row;
  min-height: 100dvh;
}

.wrapper {
  width: calc(100% - var(--drawer-width));
  margin-left: var(--drawer-width);
  display: flex;
  flex-direction: column;
}

main {
  padding: var(--padding-sm) var(--padding-xxl) var(--padding-lg) var(--padding-xxl);
  flex: 1 0 auto;
  margin-top: var(--header-height);
}

.breadcrumbs {
  margin-bottom: var(--margin-xs);
}