.container {
  display: flex;
  flex-direction: row;
  min-height: 100dvh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: calc(100% - var(--drawer-width));
  margin-left: var(--drawer-width);
  transition:
    margin-left var(--tr-dur-drawer),
    width var(--tr-dur-drawer);
}

html:global(.hide-drawer) .wrapper {
  width: 100%;
  margin-left: 0;
}

main {
  position: relative;
  padding: var(--padding-sm) var(--padding-xxl) var(--padding-lg) var(--padding-xxl);
  flex: 1 0 auto;
  margin-top: var(--header-height);
  z-index: 1;
}

.breadcrumbs {
  margin-bottom: var(--margin-xs);
}
