.chartBox {
  width: 100%;
}

.rightInfo {
  display: flex;
  align-items: flex-end;
  min-width: 100px;
  padding-left: var(--padding-md);
  flex-direction: column;
  gap: 4px;
}

.primaryInfo {
  position: relative;
}

.secondaryInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 3px;
}

.secondaryInfo svg {
  transform: scale(0.9);
}
