.MuiChip-root {
  border-radius: 100px !important;
  background-color: var(--color-medium) !important;
  color: var(--color-secondary) !important;
}

.MuiChip-filled.MuiChip-colorPrimary {
  background-color: var(--color-primary) !important;
  color: var(--color-secondary) !important;
}

.MuiChip-filled.MuiChip-colorPrimaryLight {
  background-color: var(--color-primaryLight) !important;
  color: var(--color-secondary) !important;
}

.MuiChip-filled.MuiChip-colorSecondary {
  background-color: var(--color-secondary) !important;
  color: var(--color-primary) !important;
}

.MuiChip-filled.MuiChip-colorDark {
  background-color: var(--color-dark) !important;
  color: var(--color-secondary) !important;
}

.MuiChip-filled.MuiChip-colorMedium {
  background-color: var(--color-medium) !important;
  color: var(--color-secondary) !important;
}

.MuiChip-filled.MuiChip-colorLight {
  background-color: var(--color-light) !important;
  color: var(--color-secondary) !important;
}

.MuiChip-filled.MuiChip-colorSuccess {
  background-color: var(--color-success) !important;
  color: var(--color-secondary) !important;
}

.MuiChip-filled.MuiChip-colorError {
  background-color: var(--color-error) !important;
  color: var(--color-secondary) !important;
}

.MuiChip-filled.MuiChip-colorInfo {
  background-color: var(--color-info) !important;
  color: var(--color-secondary) !important;
}

.MuiChip-filled.MuiChip-colorWarning {
  background-color: var(--color-warning) !important;
  color: var(--color-secondary) !important;
}

.MuiChip-outlined.MuiChip-colorPrimary {
  background-color: var(--color-primary-shade300) !important;
  border-color: var(--color-primary) !important;
  color: var(--color-primary) !important;
}

.MuiChip-outlined.MuiChip-colorPrimaryLight {
  background-color: var(--color-primaryLight-shade300) !important;
  border-color: var(--color-primaryLight) !important;
  color: var(--color-primaryLight) !important;
}

.MuiChip-outlined.MuiChip-colorSecondary {
  background-color: var(--color-secondary-shade300) !important;
  border-color: var(--color-secondary) !important;
  color: var(--color-secondary) !important;
}

.MuiChip-outlined.MuiChip-colorDark {
  background-color: var(--color-dark-shade300) !important;
  border-color: var(--color-dark) !important;
  color: var(--color-dark) !important;
}

.MuiChip-outlined.MuiChip-colorMedium {
  background-color: var(--color-medium-shade300) !important;
  border-color: var(--color-medium) !important;
  color: var(--color-medium) !important;
}

.MuiChip-outlined.MuiChip-colorLight {
  background-color: var(--color-light-shade300) !important;
  border-color: var(--color-light) !important;
  color: var(--color-light) !important;
}

.MuiChip-outlined.MuiChip-colorSuccess {
  background-color: var(--color-success-shade300) !important;
  border-color: var(--color-success) !important;
  color: var(--color-success) !important;
}

.MuiChip-outlined.MuiChip-colorError {
  background-color: var(--color-error-shade300) !important;
  border-color: var(--color-error) !important;
  color: var(--color-error) !important;
}

.MuiChip-outlined.MuiChip-colorInfo {
  background-color: var(--color-info-shade300) !important;
  border-color: var(--color-info) !important;
  color: var(--color-info) !important;
}

.MuiChip-outlined.MuiChip-colorWarning {
  background-color: var(--color-warning-shade300) !important;
  border-color: var(--color-warning) !important;
  color: var(--color-warning) !important;
}

.MuiChip-filled .MuiChip-deleteIcon {
  color: var(--color-secondary) !important;
}

.MuiChip-filled.MuiChip-colorSecondary .MuiChip-deleteIcon {
  color: var(--color-primary) !important;
}

.MuiChip-outlined.MuiChip-colorPrimary .MuiChip-deleteIcon {
  color: var(--color-primary) !important;
}

.MuiChip-outlined.MuiChip-colorPrimaryLight .MuiChip-deleteIcon {
  color: var(--color-primaryLight) !important;
}

.MuiChip-outlined.MuiChip-colorSecondary .MuiChip-deleteIcon {
  color: var(--color-secondary) !important;
}

.MuiChip-outlined.MuiChip-colorDark .MuiChip-deleteIcon {
  color: var(--color-dark) !important;
}

.MuiChip-outlined.MuiChip-colorMedium .MuiChip-deleteIcon {
  color: var(--color-medium) !important;
}

.MuiChip-outlined.MuiChip-colorLight .MuiChip-deleteIcon {
  color: var(--color-light) !important;
}

.MuiChip-outlined.MuiChip-colorSuccess .MuiChip-deleteIcon {
  color: var(--color-success) !important;
}

.MuiChip-outlined.MuiChip-colorError .MuiChip-deleteIcon {
  color: var(--color-error) !important;
}

.MuiChip-outlined.MuiChip-colorInfo .MuiChip-deleteIcon {
  color: var(--color-info) !important;
}

.MuiChip-outlined.MuiChip-colorWarning .MuiChip-deleteIcon {
  color: var(--color-warning) !important;
}

.MuiChip-sizeSm {
  font-size: 11px !important;
  height: 26px !important;
}

.MuiChip-sizeMd {
  font-size: 13px !important;
  height: 30px !important;
}

.MuiChip-sizeLg {
  font-size: 15px !important;
  height: 34px !important;
}

.MuiChip-deleteIcon {
  transition: transform var(--tr-dur) !important;
}

@media (hover: hover) {
  .MuiChip-deleteIcon:hover {
    transform: scale(1.1) !important;
  }
}

.MuiChip-sizeSm .MuiChip-icon,
.MuiChip-sizeSm .MuiChip-deleteIcon {
  width: 18px !important;
  height: 18px !important;
}

.MuiChip-sizeMd .MuiChip-icon,
.MuiChip-sizeMd .MuiChip-deleteIcon {
  width: 22px !important;
  height: 22px !important;
}

.MuiChip-sizeLg .MuiChip-icon,
.MuiChip-sizeLg .MuiChip-deleteIcon {
  width: 26px !important;
  height: 26px !important;
}

.MuiChip-sizeSm .MuiAvatar-root {
  width: 18px !important;
  height: 18px !important;
  margin-left: 4px !important;
  font-size: 10px !important;
}

.MuiChip-sizeMd .MuiAvatar-root {
  width: 20px !important;
  height: 20px !important;
  margin-left: 5px !important;
  font-size: 11px !important;
}

.MuiChip-sizeLg .MuiAvatar-root {
  width: 22px !important;
  height: 22px !important;
  margin-left: 6px !important;
  font-size: 12px !important;
}
