.header {
  position: fixed;
  top: 0;
  right: 0;
  height: var(--header-height);
  width: inherit;
  background-color: var(--color-header-bg);
  backdrop-filter: blur(8px);
  padding-left: var(--padding-xl);
  padding-right: var(--padding-xl);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
}
