.drawer {
  position: fixed;
  top: 0;
  left: 0;
  width: var(--tzy-drawer-width);
  max-width: var(--tzy-drawer-width);
  border-right: 1px dashed var(--tzy-color-line-primary);
  height: 100dvh;
  z-index: 999;
  overflow: auto;
}

.header {
  position: sticky;
  top: 0;
  height: 100px;
  background-color: #fff;
  padding: 20px 30px;
  z-index: 2;
}

.headerInner {
  width: 100%;
  height: 100%;
  background-color: #ccc;
}

.drawerItems {
  padding: var(--tzy-padding-sm) 0;
}

.drawerItem {
  display: flex;
  align-items: center;
  padding: var(--tzy-padding-xs) var(--tzy-padding-sm);
  margin-right: var(--tzy-margin-sm);
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: var(--tzy-border-radius-sm);
}

.drawerItemWithIcon {
  color: white
}

.drawerItemFirstLevel {
  background-color: red;
  margin-left: var(--tzy-margin-sm);
}

.drawerItemSecondLevel {
  background-color: green;
  margin-left: var(--tzy-margin-md);
}

.drawerItemThirdLevel {
  background-color: yellow;
  margin-left: var(--tzy-margin-lg);
}

.drawerItemFourthLevel {
  background-color: blue;
  margin-left: var(--tzy-margin-xl);
}

.icon {
  margin-right: var(--tzy-margin-sm);
}