@import './fonts.css';
@import './variables.css';
@import './component-variables.css';
@import './normalize.css';
@import './grids.css';

* {
  outline: none;
  line-height: inherit;
  letter-spacing: inherit;
  font-weight: inherit;
  font-size: inherit;
  font-family: var(--tzy-font-family) !important;
}

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.3;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  padding: 0;
  text-align: left;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "salt";
  touch-action: manipulation;
  color: var(--tzy-color-text-primary);
  background-color: var(--tzy-color-body-bg);
  font-size: var(--tzy-font-size-text-sm) !important;
  font-weight: var(--tzy-font-weight-light) !important;
  font-family: var(--tzy-font-family) !important;
}
