:root {
  /* All Colors */

  --color-primary-rgb: 51, 64, 78;
  --color-primaryLight-rgb: 116, 121, 126;
  --color-secondary-rgb: 255, 255, 255;
  --color-dark-rgb: 18, 127, 139;
  --color-medium-rgb: 42, 161, 175;
  --color-light-rgb: 113, 198, 201;
  --color-success-rgb: 0, 168, 84;
  --color-error-rgb: 240, 65, 52;
  --color-info-rgb: 0, 162, 174;
  --color-warning-rgb: 255, 191, 0;

  --color-primary: rgba(var(--color-primary-rgb), 1);
  --color-primaryLight: rgba(var(--color-primaryLight-rgb), 1);
  --color-secondary: rgba(var(--color-secondary-rgb), 1);
  --color-dark: rgba(var(--color-dark-rgb), 1);
  --color-medium: rgba(var(--color-medium-rgb), 1);
  --color-light: rgba(var(--color-light-rgb), 1);
  --color-success: rgba(var(--color-success-rgb), 1);
  --color-error: rgba(var(--color-error-rgb), 1);
  --color-info: rgba(var(--color-info-rgb), 1);
  --color-warning: rgba(var(--color-warning-rgb), 1);

  --color-primary-shade100: rgba(var(--color-primary-rgb), 0.06);
  --color-primaryLight-shade100: rgba(var(--color-primaryLight-rgb), 0.06);
  --color-secondary-shade100: rgba(var(--color-secondary-rgb), 0.06);
  --color-dark-shade100: rgba(var(--color-dark-rgb), 0.06);
  --color-medium-shade100: rgba(var(--color-medium-rgb), 0.06);
  --color-light-shade100: rgba(var(--color-light-rgb), 0.06);
  --color-success-shade100: rgba(var(--color-success-rgb), 0.06);
  --color-error-shade100: rgba(var(--color-error-rgb), 0.06);
  --color-info-shade100: rgba(var(--color-info-rgb), 0.06);
  --color-warning-shade100: rgba(var(--color-warning-rgb), 0.06);

  --color-primary-shade200: rgba(var(--color-primary-rgb), 0.1);
  --color-primaryLight-shade200: rgba(var(--color-primaryLight-rgb), 0.1);
  --color-secondary-shade200: rgba(var(--color-secondary-rgb), 0.1);
  --color-dark-shade200: rgba(var(--color-dark-rgb), 0.1);
  --color-medium-shade200: rgba(var(--color-medium-rgb), 0.1);
  --color-light-shade200: rgba(var(--color-light-rgb), 0.1);
  --color-success-shade200: rgba(var(--color-success-rgb), 0.1);
  --color-error-shade200: rgba(var(--color-error-rgb), 0.1);
  --color-info-shade200: rgba(var(--color-info-rgb), 0.1);
  --color-warning-shade200: rgba(var(--color-warning-rgb), 0.1);

  --color-primary-shade300: rgba(var(--color-primary-rgb), 0.14);
  --color-primaryLight-shade300: rgba(var(--color-primaryLight-rgb), 0.14);
  --color-secondary-shade300: rgba(var(--color-secondary-rgb), 0.14);
  --color-dark-shade300: rgba(var(--color-dark-rgb), 0.14);
  --color-medium-shade300: rgba(var(--color-medium-rgb), 0.14);
  --color-light-shade300: rgba(var(--color-light-rgb), 0.14);
  --color-success-shade300: rgba(var(--color-success-rgb), 0.14);
  --color-error-shade300: rgba(var(--color-error-rgb), 0.14);
  --color-info-shade300: rgba(var(--color-info-rgb), 0.14);
  --color-warning-shade300: rgba(var(--color-warning-rgb), 0.14);

  --color-primary-shade400: rgba(var(--color-primary-rgb), 0.3);
  --color-primaryLight-shade400: rgba(var(--color-primaryLight-rgb), 0.3);
  --color-secondary-shade400: rgba(var(--color-secondary-rgb), 0.3);
  --color-dark-shade400: rgba(var(--color-dark-rgb), 0.3);
  --color-medium-shade400: rgba(var(--color-medium-rgb), 0.3);
  --color-light-shade400: rgba(var(--color-light-rgb), 0.3);
  --color-success-shade400: rgba(var(--color-success-rgb), 0.3);
  --color-error-shade400: rgba(var(--color-error-rgb), 0.3);
  --color-info-shade400: rgba(var(--color-info-rgb), 0.3);
  --color-warning-shade400: rgba(var(--color-warning-rgb), 0.3);

  --color-primary-shade500: rgba(var(--color-primary-rgb), 0.5);
  --color-primaryLight-shade500: rgba(var(--color-primaryLight-rgb), 0.5);
  --color-secondary-shade500: rgba(var(--color-secondary-rgb), 0.5);
  --color-dark-shade500: rgba(var(--color-dark-rgb), 0.5);
  --color-medium-shade500: rgba(var(--color-medium-rgb), 0.5);
  --color-light-shade500: rgba(var(--color-light-rgb), 0.5);
  --color-success-shade500: rgba(var(--color-success-rgb), 0.5);
  --color-error-shade500: rgba(var(--color-error-rgb), 0.5);
  --color-info-shade500: rgba(var(--color-info-rgb), 0.5);
  --color-warning-shade500: rgba(var(--color-warning-rgb), 0.5);

  --color-primary-shade600: rgba(var(--color-primary-rgb), 0.7);
  --color-primaryLight-shade600: rgba(var(--color-primaryLight-rgb), 0.7);
  --color-secondary-shade600: rgba(var(--color-secondary-rgb), 0.7);
  --color-dark-shade600: rgba(var(--color-dark-rgb), 0.7);
  --color-medium-shade600: rgba(var(--color-medium-rgb), 0.7);
  --color-light-shade600: rgba(var(--color-light-rgb), 0.7);
  --color-success-shade600: rgba(var(--color-success-rgb), 0.7);
  --color-error-shade600: rgba(var(--color-error-rgb), 0.7);
  --color-info-shade600: rgba(var(--color-info-rgb), 0.7);
  --color-warning-shade600: rgba(var(--color-warning-rgb), 0.7);

  --color-primary-shade700: rgba(var(--color-primary-rgb), 0.8);
  --color-primaryLight-shade700: rgba(var(--color-primaryLight-rgb), 0.8);
  --color-secondary-shade700: rgba(var(--color-secondary-rgb), 0.8);
  --color-dark-shade700: rgba(var(--color-dark-rgb), 0.8);
  --color-medium-shade700: rgba(var(--color-medium-rgb), 0.8);
  --color-light-shade700: rgba(var(--color-light-rgb), 0.8);
  --color-success-shade700: rgba(var(--color-success-rgb), 0.8);
  --color-error-shade700: rgba(var(--color-error-rgb), 0.8);
  --color-info-shade700: rgba(var(--color-info-rgb), 0.8);
  --color-warning-shade700: rgba(var(--color-warning-rgb), 0.8);

  --color-primary-shade800: rgba(var(--color-primary-rgb), 0.9);
  --color-primaryLight-shade800: rgba(var(--color-primaryLight-rgb), 0.9);
  --color-secondary-shade800: rgba(var(--color-secondary-rgb), 0.9);
  --color-dark-shade800: rgba(var(--color-dark-rgb), 0.9);
  --color-medium-shade800: rgba(var(--color-medium-rgb), 0.9);
  --color-light-shade800: rgba(var(--color-light-rgb), 0.9);
  --color-success-shade800: rgba(var(--color-success-rgb), 0.9);
  --color-error-shade800: rgba(var(--color-error-rgb), 0.9);
  --color-info-shade800: rgba(var(--color-info-rgb), 0.9);
  --color-warning-shade800: rgba(var(--color-warning-rgb), 0.9);

  /* General */
  --color-body-bg: var(--color-secondary);
  --color-drawer-bg: var(--color-secondary);
  --color-content-bg: var(--color-secondary);
  --color-header-bg: var(--color-secondary-shade600);
  --color-line-primary: var(--color-primary-shade200);
  --color-line-secondary: var(--color-primary-shade200);

  --font-family: 'Inter var';
  --color-text-primary: var(--color-primary);
  --drawer-width: 300px;
  --header-height: 74px;

  --tr-dur: 0.2s;

  --box-shadow-card: 0px 6px 24px var(--color-primary-shade200);
  --box-shadow-menu: 0px 4px 16px var(--color-primary-shade300);
  --box-shadow-toast: 0px 4px 16px var(--color-primary-shade200);

  --box-shadow-primary: 0px 4px 12px var(--color-primary-shade200);
  --box-shadow-primaryLight: 0px 4px 12px var(--color-primaryLight-shade200);
  --box-shadow-secondary: 0px 4px 12px var(--color-secondary-shade200);
  --box-shadow-dark: 0px 4px 12px var(--color-dark-shade200);
  --box-shadow-medium: 0px 4px 12px var(--color-medium-shade200);
  --box-shadow-light: 0px 4px 12px var(--color-light-shade200);
  --box-shadow-success: 0px 4px 12px var(--color-success-shade200);
  --box-shadow-error: 0px 4px 12px var(--color-error-shade200);
  --box-shadow-info: 0px 4px 12px var(--color-info-shade200);
  --box-shadow-warning: 0px 4px 12px var(--color-warning-shade200);

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 600;

  --border-radius-xs: 4px;
  --border-radius-sm: 8px;
  --border-radius-md: 16px;
  --border-radius-lg: 24px;
  --border-radius-xl: 32px;
  --border-radius-xl: 40px;

  --margin-xs: 8px;
  --margin-sm: 16px;
  --margin-md: 24px;
  --margin-lg: 32px;
  --margin-xl: 40px;
  --margin-xxl: 48px;

  --padding-xs: 8px;
  --padding-sm: 16px;
  --padding-md: 24px;
  --padding-lg: 32px;
  --padding-xl: 40px;
  --padding-xxl: 48px;

  --font-size-text-xs: 12px;
  --font-size-text-sm: 14px;
  --font-size-text-md: 16px;
  --font-size-text-lg: 18px;
  --font-size-text-xl: 20px;
  --font-size-text-xxl: 22px;

  --font-size-title-xs: 12px;
  --font-size-title-sm: 14px;
  --font-size-title-md: 16px;
  --font-size-title-lg: 20px;
  --font-size-title-xl: 24px;
  --font-size-title-xxl: 28px;
}

/* Dark Theme */

html.dark:root {
  --color-primary-rgb: 255, 255, 255;
  --color-primaryLight-rgb: 180, 180, 180;
  --color-secondary-rgb: 20, 20, 20;
  --color-dark-rgb: 18, 127, 139;
  --color-medium-rgb: 42, 161, 175;
  --color-light-rgb: 113, 198, 201;
  --color-success-rgb: 0, 168, 84;
  --color-error-rgb: 240, 65, 52;
  --color-info-rgb: 0, 162, 174;
  --color-warning-rgb: 255, 191, 0;
}