:root {
  /* All Colors */

  --color-primary-rgb: 51, 64, 78;
  --color-primaryLight-rgb: 112, 121, 131;
  --color-secondary-rgb: 255, 255, 255;
  --color-dark-rgb: 66, 55, 213;
  --color-medium-rgb: 114, 101, 230;
  --color-light-rgb: 156, 147, 238;
  --color-success-rgb: 0, 168, 84;
  --color-error-rgb: 240, 65, 52;
  --color-info-rgb: 0, 162, 174;
  --color-warning-rgb: 255, 191, 0;

  --color-primary: rgba(var(--color-primary-rgb), 1);
  --color-primaryLight: rgba(var(--color-primaryLight-rgb), 1);
  --color-secondary: rgba(var(--color-secondary-rgb), 1);
  --color-dark: rgba(var(--color-dark-rgb), 1);
  --color-medium: rgba(var(--color-medium-rgb), 1);
  --color-light: rgba(var(--color-light-rgb), 1);
  --color-success: rgba(var(--color-success-rgb), 1);
  --color-error: rgba(var(--color-error-rgb), 1);
  --color-info: rgba(var(--color-info-rgb), 1);
  --color-warning: rgba(var(--color-warning-rgb), 1);

  --color-primary-toneVeryLight: rgba(var(--color-primary-rgb), 0.06);
  --color-primaryLight-toneVeryLight: rgba(var(--color-primaryLight-rgb), 0.06);
  --color-secondary-toneVeryLight: rgba(var(--color-secondary-rgb), 0.06);
  --color-dark-toneVeryLight: rgba(var(--color-dark-rgb), 0.06);
  --color-medium-toneVeryLight: rgba(var(--color-medium-rgb), 0.06);
  --color-light-toneVeryLight: rgba(var(--color-light-rgb), 0.06);
  --color-success-toneVeryLight: rgba(var(--color-success-rgb), 0.06);
  --color-error-toneVeryLight: rgba(var(--color-error-rgb), 0.06);
  --color-info-toneVeryLight: rgba(var(--color-info-rgb), 0.06);
  --color-warning-toneVeryLight: rgba(var(--color-warning-rgb), 0.06);

  --color-primary-toneLight: rgba(var(--color-primary-rgb), 0.12);
  --color-primaryLight-toneLight: rgba(var(--color-primaryLight-rgb), 0.12);
  --color-secondary-toneLight: rgba(var(--color-secondary-rgb), 0.12);
  --color-dark-toneLight: rgba(var(--color-dark-rgb), 0.12);
  --color-medium-toneLight: rgba(var(--color-medium-rgb), 0.12);
  --color-light-toneLight: rgba(var(--color-light-rgb), 0.12);
  --color-success-toneLight: rgba(var(--color-success-rgb), 0.12);
  --color-error-toneLight: rgba(var(--color-error-rgb), 0.12);
  --color-info-toneLight: rgba(var(--color-info-rgb), 0.12);
  --color-warning-toneLight: rgba(var(--color-warning-rgb), 0.12);

  --color-primary-toneMediumLight: rgba(var(--color-primary-rgb), 0.3);
  --color-primaryLight-toneMediumLight: rgba(var(--color-primaryLight-rgb), 0.3);
  --color-secondary-toneMediumLight: rgba(var(--color-secondary-rgb), 0.3);
  --color-dark-toneMediumLight: rgba(var(--color-dark-rgb), 0.3);
  --color-medium-toneMediumLight: rgba(var(--color-medium-rgb), 0.3);
  --color-light-toneMediumLight: rgba(var(--color-light-rgb), 0.3);
  --color-success-toneMediumLight: rgba(var(--color-success-rgb), 0.3);
  --color-error-toneMediumLight: rgba(var(--color-error-rgb), 0.3);
  --color-info-toneMediumLight: rgba(var(--color-info-rgb), 0.3);
  --color-warning-toneMediumLight: rgba(var(--color-warning-rgb), 0.3);

  --color-primary-toneMedium: rgba(var(--color-primary-rgb), 0.5);
  --color-primaryLight-toneMedium: rgba(var(--color-primaryLight-rgb), 0.5);
  --color-secondary-toneMedium: rgba(var(--color-secondary-rgb), 0.5);
  --color-dark-toneMedium: rgba(var(--color-dark-rgb), 0.5);
  --color-medium-toneMedium: rgba(var(--color-medium-rgb), 0.5);
  --color-light-toneMedium: rgba(var(--color-light-rgb), 0.5);
  --color-success-toneMedium: rgba(var(--color-success-rgb), 0.5);
  --color-error-toneMedium: rgba(var(--color-error-rgb), 0.5);
  --color-info-toneMedium: rgba(var(--color-info-rgb), 0.5);
  --color-warning-toneMedium: rgba(var(--color-warning-rgb), 0.5);

  --color-primary-toneVeryDark: rgba(var(--color-primary-rgb), 0.9);
  --color-primaryLight-toneVeryDark: rgba(var(--color-primaryLight-rgb), 0.9);
  --color-secondary-toneVeryDark: rgba(var(--color-secondary-rgb), 0.9);
  --color-dark-toneVeryDark: rgba(var(--color-dark-rgb), 0.9);
  --color-medium-toneVeryDark: rgba(var(--color-medium-rgb), 0.9);
  --color-light-toneVeryDark: rgba(var(--color-light-rgb), 0.9);
  --color-success-toneVeryDark: rgba(var(--color-success-rgb), 0.9);
  --color-error-toneVeryDark: rgba(var(--color-error-rgb), 0.9);
  --color-info-toneVeryDark: rgba(var(--color-info-rgb), 0.9);
  --color-warning-toneVeryDark: rgba(var(--color-warning-rgb), 0.9);

  --color-body-bg: var(--color-secondary);
  --color-content-bg: var(--color-secondary);
  --color-header-bg: var(--color-secondary-toneMedium);
  --color-line-primary: var(--color-primary-toneMediumLight);
  --color-line-secondary: var(--color-primary-toneLight);
  --box-shadow-card: 0px 6px 24px var(--color-primary-toneLight);

  /* General */
  --font-family: 'Inter var';
  --color-text-primary: var(--color-primary);
  --drawer-width: 300px;
  --header-height: 74px;

  --tr-dur: 0.2s;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 600;

  --border-radius-xs: 4px;
  --border-radius-sm: 8px;
  --border-radius-md: 16px;
  --border-radius-lg: 24px;
  --border-radius-xl: 32px;
  --border-radius-xl: 40px;

  --margin-xs: 8px;
  --margin-sm: 16px;
  --margin-md: 24px;
  --margin-lg: 32px;
  --margin-xl: 40px;
  --margin-xxl: 40px;

  --padding-xs: 8px;
  --padding-sm: 16px;
  --padding-md: 24px;
  --padding-lg: 32px;
  --padding-xl: 40px;
  --padding-xxl: 48px;

  /* Text */
  --font-size-text-xs: 12px;
  --font-size-text-sm: 14px;
  --font-size-text-md: 16px;
  --font-size-text-lg: 18px;
  --font-size-text-xl: 20px;
  --font-size-text-xxl: 22px;

  /* Title */
  --font-size-title-xs: 12px;
  --font-size-title-sm: 14px;
  --font-size-title-md: 16px;
  --font-size-title-lg: 20px;
  --font-size-title-xl: 24px;
  --font-size-title-xxl: 28px;
}
