.MuiTabs-content {
  border-bottom: 1px solid var(--color-line-primary) !important;
}

.MuiTabs-root {
  min-height: inherit !important;
}

.MuiTabs-flexContainer {
  gap: var(--margin-md) !important;
}

.MuiTabs-indicator {
  background-color: var(--color-medium) !important;
}
