.card {
  position: relative;
  background-color: var(--color-content-bg);
  border: 1px solid var(--color-line-primary);
  border-radius: var(--border-radius-md);
  box-shadow: var(--box-shadow-card);
  /* background-color: #000; */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--color-line-primary);
  padding: var(--padding-sm) var(--padding-md);
  min-height: 70px;
  gap: var(--padding-sm);
  transition: border-color var(--tr-dur);
}

.header.unExpanded {
  border-color: transparent;
}

.cardTitle {
  margin-right: auto;
}

.headerActions {
  display: flex;
  align-items: center;
  gap: var(--padding-sm);
  transition:
    opacity var(--tr-dur),
    visibility var(--tr-dur);
}

.header.unExpanded .headerActions {
  opacity: 0;
  visibility: hidden;
}

.footerActions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-top: 1px dashed var(--color-line-primary);
  padding: var(--padding-sm) var(--padding-md);
  min-height: 70px;
  gap: var(--padding-sm);
}

.content {
  position: relative;
  padding: var(--padding-lg) var(--padding-md);
}
