.contentWrapper {
  position: relative;
}

.topSection {
  margin-bottom: var(--margin-md);
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--margin-sm) 0;
  margin-top: var(--margin-md);
}
