.filepond-container {
  position: relative !important;
  z-index: 1 !important;
  padding: var(--padding-sm) !important;
  border: 1px solid var(--color-primaryLight-shade500) !important;
  border-radius: var(--border-radius-sm) !important;
}

.filepond-container.filepond-disabled {
  border-color: var(--color-primaryLight-shade400) !important;
}

.filepond-container .MuiListItem-root {
  padding: 0 0 var(--padding-sm) 0 !important;
}

.filepond--root {
  margin-bottom: 0 !important;
}

.filepond--root[data-disabled] {
  cursor: not-allowed !important;
  pointer-events: auto !important;
}

.filepond--root[data-disabled] * {
  cursor: not-allowed !important;
}

.filepond--credits {
  display: none !important;
  opacity: 0 !important;
  visibility: hidden !important;
  pointer-events: none !important;
}

.filepond--drop-label {
  position: relative !important;
  min-height: 90px !important;
  cursor: pointer !important;
  color: var(--color-primary) !important;
  font-size: var(--font-size-text-sm) !important;
  background-color: var(--color-medium-shade100) !important;
  margin-bottom: 20px !important;
  border-radius: var(--border-radius-md) !important;
  border: 1px dashed var(--color-medium-shade500);
  z-index: 7 !important;
  transition: border-color var(--tr-dur) !important;
}

.filepond-error .filepond--drop-label {
  border-color: var(--color-error);
  background-color: var(--color-error-shade100) !important;
}

.filepond--drop-label label {
  cursor: pointer !important;
  padding: var(--padding-sm) var(--padding-sm) !important;
}

.filepond--root[data-disabled] .filepond--drop-label label {
  opacity: 0.7 !important;
}

.filepond--root .filepond--list-scroller {
  margin-top: 0 !important;
  z-index: 7 !important;
}

.filepond--panel.filepond--panel-root {
  border-radius: 10px !important;
}

.filepond--panel-root {
  background-color: transparent !important;
  border-radius: 0 !important;
}

.filepond--panel-top:after {
  background-color: transparent !important;
}

.filepond--panel-bottom:before {
  background-color: transparent !important;
}

.filepond--list {
  left: 0 !important;
  right: 0 !important;
  top: var(--padding-sm) !important;
  padding-top: var(--padding-sm) !important;
}

.filepond--root[data-disabled] .filepond--list {
  opacity: 0.7 !important;
}

.filepond--item {
  width: calc(33.33% - var(--margin-sm)) !important;
  height: inherit !important;
  overflow: hidden !important;
  border-radius: 10px !important;
  margin: calc(var(--margin-sm) / 2) !important;
}

.filepond--file-wrapper {
  position: relative !important;
  padding-bottom: 48% !important;
}
