.filepond-container {
  padding: var(--padding-sm) !important;
  border: 1px solid var(--color-dark-shade200) !important;
  border-radius: var(--border-radius-md) !important;
}

.filepond-container .MuiListItem-root {
    padding: 0 0 var(--padding-sm) 0 !important;
}

.filepond--root {
  margin-bottom: 0 !important;
}

.filepond--credits {
  display: none !important;
  opacity: 0 !important;
  visibility: hidden !important;
  pointer-events: none !important;
}

.filepond--drop-label {
  min-height: 90px !important;
  cursor: pointer !important;
  color: var(--color-primary) !important;
  font-size: var(--font-size-text-sm) !important;
  background-color: var(--color-medium-shade200) !important;
  margin-bottom: 20px !important;
  border-radius: var(--border-radius-md) !important;
  border: 1px dashed var(--color-line-primary);
}

.filepond--drop-label label {
  padding: var(--padding-sm) var(--padding-sm) !important;
}

.filepond--root .filepond--list-scroller {
  margin-top: 0 !important;
}

.filepond--panel.filepond--panel-root {
  border-radius: 10px !important;
}

.filepond--panel-root {
  background-color: transparent !important;
  border-radius: 0 !important;
}

.filepond--panel-top:after {
  background-color: transparent !important;
}

.filepond--panel-bottom:before {
  background-color: transparent !important;
}

.filepond--list {
  left: 0 !important;
  right: 0 !important;
  top: var(--padding-sm) !important;
  padding-top: var(--padding-sm) !important;
}

.filepond--item {
  width: calc(33.33% - 10px) !important;
  /* width: 50% !important; */
  height: inherit !important;
  overflow: hidden !important;
  border-radius: 10px !important;
  margin: 5px !important;
}

.filepond--file-wrapper {
  position: relative !important;
  padding-bottom: 48% !important;
}
