.MuiCircularProgress-root {
  display: inline-flex !important;
}

.MuiCircularProgress-colorPrimary {
  color: var(--color-primary) !important;
}

.MuiCircularProgress-colorPrimaryLight {
  color: var(--color-primaryLight) !important;
}

.MuiCircularProgress-colorSecondary {
  color: var(--color-secondary) !important;
}

.MuiCircularProgress-colorDark {
  color: var(--color-dark) !important;
}

.MuiCircularProgress-colorMedium {
  color: var(--color-medium) !important;
}

.MuiCircularProgress-colorLight {
  color: var(--color-light) !important;
}

.MuiCircularProgress-colorSuccess {
  color: var(--color-success) !important;
}

.MuiCircularProgress-colorError {
  color: var(--color-error) !important;
}

.MuiCircularProgress-colorInfo {
  color: var(--color-info) !important;
}

.MuiCircularProgress-colorWarning {
  color: var(--color-warning) !important;
}

.MuiCircularProgress-sizeXs {
  width: 12px !important;
  height: 12px !important;
}

.MuiCircularProgress-sizeSm {
  width: 16px !important;
  height: 16px !important;
}

.MuiCircularProgress-sizeMd {
  width: 20px !important;
  height: 20px !important;
}

.MuiCircularProgress-sizeLg {
  width: 24px !important;
  height: 24px !important;
}

.MuiCircularProgress-sizeXl {
  width: 28px !important;
  height: 28px !important;
}

.MuiCircularProgress-sizeXxl {
  width: 32px !important;
  height: 32px !important;
}
