.MuiInputBase-root {
  border-radius: var(--border-radius-sm) !important;
  font-size: var(--font-size-text-sm) !important;
  color: var(--color-primary) !important;
  line-height: inherit !important;
  letter-spacing: inherit !important;
  padding: 0 0 !important;
}

.MuiInputBase-root.Mui-focused {
  border-color: var(--color-light) !important;
}

.MuiTextField-withIcon .MuiInputBase-adornedEnd {
  padding-right: 6px !important;
}

.MuiTextField-withIcon .MuiInputBase-adornedStart {
  padding-left: 6px !important;
}

.MuiInputBase-input {
  font-size: var(--font-size-text-sm) !important;
  color: var(--color-primary) !important;
  line-height: inherit !important;
  letter-spacing: inherit !important;
  animation-name: mui-auto-fill-cancel !important;
  padding: 14px 14px !important;
  height: 20px !important;
}

.MuiTextField-root:not(.MuiTextField-withIcon) .MuiInputBase-adornedStart {
  padding-left: 14px !important;
}

.MuiTextField-root:not(.MuiTextField-withIcon) .MuiInputBase-adornedEnd {
  padding-right: 14px !important;
}

.MuiTextField-withIcon .MuiInputBase-inputAdornedStart {
  padding-left: 0 !important;
}

.MuiTextField-withIcon .MuiInputBase-inputAdornedEnd {
  padding-right: 0 !important;
}

.MuiOutlinedInput-notchedOutline {
  border-width: 1px !important;
  border-color: var(--color-primaryLight-shade500) !important;
  transition:
    border-color var(--tr-dur),
    box-shadow var(--tr-dur) !important;
}

@media (hover: hover) {
  .MuiInputBase-root:hover .MuiOutlinedInput-notchedOutline {
    border-color: var(--color-light) !important;
  }
}

.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: var(--color-light) !important;
  box-shadow: rgba(42, 161, 175, 0.1) 0px 0px 0px 2px !important;
}
