.MuiInputBase-root {
  border-radius: var(--border-radius-sm) !important;
  font-size: var(--font-size-text-sm) !important;
  color: var(--color-primary) !important;
  line-height: inherit !important;
  letter-spacing: inherit !important;
  padding: 14px 0 !important;
}

.MuiInputBase-root.Mui-disabled {
  opacity: 0.7 !important;
  pointer-events: auto !important;
  cursor: not-allowed !important;
}

.MuiTextField-withIcon .MuiInputBase-adornedEnd {
  padding-right: 6px !important;
}

.MuiTextField-withIcon .MuiInputBase-adornedStart {
  padding-left: 6px !important;
}

.MuiInputBase-input {
  font-size: var(--font-size-text-sm) !important;
  color: var(--color-primary) !important;
  line-height: inherit !important;
  letter-spacing: inherit !important;
  animation-name: mui-auto-fill-cancel !important;
  padding: 0 14px !important;
}

.MuiInputBase-root.Mui-disabled .MuiInputBase-input {
  pointer-events: auto !important;
  cursor: not-allowed !important;
}

.MuiInputBase-input::-webkit-input-placeholder {
  color: var(--color-primary-shade-300) !important;
}

.MuiInputBase-input::-moz-placeholder {
  color: var(--color-primary-shade-300) !important;
}

.MuiInputBase-input:-ms-input-placeholder {
  color: var(--color-primary-shade-300) !important;
}

.MuiInputBase-input:-moz-placeholder {
  color: var(--color-primary-shade-300) !important;
}

.MuiInputBase-inputMultiline {
  min-height: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.MuiTextField-root:not(.MuiTextField-withIcon) .MuiInputBase-adornedStart {
  padding-left: 14px !important;
}

.MuiTextField-root:not(.MuiTextField-withIcon) .MuiInputBase-adornedEnd {
  padding-right: 14px !important;
}

.MuiTextField-withIcon .MuiInputBase-inputAdornedStart {
  padding-left: 0 !important;
}

.MuiTextField-withIcon .MuiInputBase-inputAdornedEnd {
  padding-right: 0 !important;
}

.MuiOutlinedInput-notchedOutline {
  border-width: 1px !important;
  border-color: var(--color-primaryLight-shade500) !important;
  transition:
    border-color var(--tr-dur),
    box-shadow var(--tr-dur) !important;
}

.Mui-error .MuiOutlinedInput-notchedOutline {
  border-color: var(--color-error-shade500) !important;
}

@media (hover: hover) {
  .MuiInputBase-root:hover .MuiOutlinedInput-notchedOutline {
    border-color: var(--color-light) !important;
  }

  .MuiInputBase-root.Mui-error:hover .MuiOutlinedInput-notchedOutline {
    border-color: var(--color-error) !important;
  }
}

.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: var(--color-light) !important;
  box-shadow: var(--color-light-shade200) 0px 0px 0px 2px !important;
}

.Mui-focused.Mui-error .MuiOutlinedInput-notchedOutline {
  border-color: var(--color-error) !important;
  box-shadow: var(--color-error-shade200) 0px 0px 0px 2px !important;
}

.MuiInputBase-root .MuiIconButton-root {
  margin-right: 0 !important;
}

.MuiFormHelperText-root {
  margin-top: 4px !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  font-weight: var(--font-weight-regular) !important;
  font-size: var(--font-size-text-xs) !important;
  line-height: inherit !important;
  letter-spacing: inherit !important;
  color: var(--color-primaryLight) !important;
  text-align: left !important;
  transition: color var(--tr-dur) !important;
}

.MuiFormHelperText-root.Mui-error {
  color: var(--color-error) !important;
}
