.MuiTab-root {
  font-weight: inherit !important;
  font-size: inherit !important;
  line-height: inherit !important;
  letter-spacing: inherit !important;
  text-transform: none !important;
  min-height: inherit !important;
  padding: calc(var(--padding-sm) - var(--padding-sm) / 4) calc(var(--padding-sm) - var(--padding-sm) / 4) !important;
  min-width: 0 !important;
}

.MuiTab-iconWrapper {
  margin-right: var(--margin-xs) !important;
}
