.MuiAutocomplete-inputRoot {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  min-height: 3.4375em !important;
}

.MuiAutocomplete-endAdornment .MuiIconButton-root,
.MuiAutocomplete-startAdornment .MuiIconButton-root {
  padding: 8px !important;
}

.MuiAutocomplete-endAdornment .MuiIconButton-root svg {
  transform: scale(0.8) !important;
}

.MuiAutocomplete-endAdornment {
  right: 6px !important;
}

.MuiAutocomplete-hasPopupIcon.MuiAutocomplete-hasClearIcon .MuiAutocomplete-inputRoot {
  padding-right: 90px !important;
}

.MuiAutocomplete-hasPopupIcon .MuiOutlinedInput-root,
.MuiAutocomplete-hasClearIcon .MuiOutlinedInput-root {
  padding-right: 76px !important;
}

.MuiAutocomplete-hasPopupIcon .MuiAutocomplete-inputRoot,
.MuiAutocomplete-hasClearIcon .MuiAutocomplete-inputRoot {
  padding-right: 52px !important;
  padding-left: 11px !important;
}

.MuiAutocomplete-root-single.MuiAutocomplete-hasPopupIcon .MuiAutocomplete-inputRoot,
.MuiAutocomplete-root-single.MuiAutocomplete-hasClearIcon .MuiAutocomplete-inputRoot {
  padding-left: 0 !important;
}

.MuiAutocomplete-paper {
  background-color: var(--color-content-bg) !important;
  border-radius: var(--border-radius-sm) !important;
  box-shadow: var(--box-shadow-menu) !important;
}

.MuiAutocomplete-listbox {
  padding: 10px 10px !important;
}

.MuiAutocomplete-option {
  border-radius: var(--border-radius-sm) !important;
  text-decoration: none !important;
  color: var(--color-primaryLight) !important;
  padding: var(--padding-xs) var(--padding-sm) !important;
  margin: 2px 0px !important;
  font-size: var(--font-size-text-sm) !important;
  background-color: transparent !important;
  transition: background-color var(--tr-dur) !important;
}

@media (hover: hover) {
  .MuiAutocomplete-option:hover {
    background-color: var(--color-medium-shade100) !important;
  }
}

.MuiAutocomplete-option[aria-selected='true'] {
  background-color: var(--color-medium-shade200) !important;
}
