.MuiAutocomplete-endAdornment .MuiIconButton-root,
.MuiAutocomplete-startAdornment .MuiIconButton-root {
  padding: 8px !important;
}

.MuiAutocomplete-endAdornment .MuiIconButton-root svg {
  transform: scale(0.8) !important;
}

.MuiAutocomplete-endAdornment {
  right: 6px !important;
}

.MuiAutocomplete-hasPopupIcon.MuiAutocomplete-hasClearIcon .MuiOutlinedInput-root {
  padding-right: 116px !important;
}

.MuiAutocomplete-hasPopupIcon.MuiAutocomplete-hasClearIcon .MuiAutocomplete-inputRoot {
  padding-right: 90px !important;
}

.MuiAutocomplete-hasPopupIcon .MuiOutlinedInput-root,
.MuiAutocomplete-hasClearIcon .MuiOutlinedInput-root {
  padding-right: 76px !important;
}

.MuiAutocomplete-hasPopupIcon .MuiAutocomplete-inputRoot,
.MuiAutocomplete-hasClearIcon .MuiAutocomplete-inputRoot {
  padding-right: 52px !important;
}