.MuiIconButton-root {
  border-radius: var(--border-radius-sm) !important;
  transition: background-color var(--tr-dur) !important;
}

.MuiIconButton-root.Mui-disabled {
  opacity: 0.7 !important;
  pointer-events: auto !important;
  cursor: not-allowed !important;
}

.MuiIconButton-root.MuiIconButton-rounded {
  border-radius: 50% !important;
}

.MuiIconButton-root.MuiIconButton-nonClickable {
  pointer-events: none !important;
}

.MuiIconButton-root:hover { background-color: var(--color-primary-shade200) !important; }

.MuiIconButton-variantContained.MuiIconButton-colorPrimary { background-color: var(--color-primary) !important; }
.MuiIconButton-variantContained.MuiIconButton-colorPrimaryLight { background-color: var(--color-primaryLight) !important; }
.MuiIconButton-variantContained.MuiIconButton-colorSecondary { background-color: var(--color-secondary) !important; }
.MuiIconButton-variantContained.MuiIconButton-colorDark { background-color: var(--color-dark) !important; }
.MuiIconButton-variantContained.MuiIconButton-colorMedium { background-color: var(--color-medium) !important; }
.MuiIconButton-variantContained.MuiIconButton-colorLight { background-color: var(--color-light) !important; }
.MuiIconButton-variantContained.MuiIconButton-colorSuccess { background-color: var(--color-success) !important; }
.MuiIconButton-variantContained.MuiIconButton-colorError { background-color: var(--color-error) !important; }
.MuiIconButton-variantContained.MuiIconButton-colorInfo { background-color: var(--color-info) !important; }
.MuiIconButton-variantContained.MuiIconButton-colorWarning { background-color: var(--color-warning) !important; }

.MuiIconButton-variantContained.MuiIconButton-colorPrimary svg { color: var(--color-secondary) !important; }
.MuiIconButton-variantContained.MuiIconButton-colorPrimaryLight svg { color: var(--color-secondary) !important; }
.MuiIconButton-variantContained.MuiIconButton-colorSecondary svg { color: var(--color-primary) !important; }
.MuiIconButton-variantContained.MuiIconButton-colorDark svg { color: var(--color-secondary) !important; }
.MuiIconButton-variantContained.MuiIconButton-colorMedium svg { color: var(--color-secondary) !important; }
.MuiIconButton-variantContained.MuiIconButton-colorLight svg { color: var(--color-secondary) !important; }
.MuiIconButton-variantContained.MuiIconButton-colorSuccess svg { color: var(--color-secondary) !important; }
.MuiIconButton-variantContained.MuiIconButton-colorError svg { color: var(--color-secondary) !important; }
.MuiIconButton-variantContained.MuiIconButton-colorInfo svg { color: var(--color-secondary) !important; }
.MuiIconButton-variantContained.MuiIconButton-colorWarning svg { color: var(--color-secondary) !important; }

@media (hover: hover) {
  .MuiIconButton-variantContained.MuiIconButton-colorPrimary:hover { background-color: var(--color-primary-shade800) !important; }
  .MuiIconButton-variantContained.MuiIconButton-colorPrimaryLight:hover { background-color: var(--color-primaryLight-shade800) !important; }
  .MuiIconButton-variantContained.MuiIconButton-colorSecondary:hover { background-color: var(--color-secondary-shade800) !important; }
  .MuiIconButton-variantContained.MuiIconButton-colorDark:hover { background-color: var(--color-dark-shade800) !important; }
  .MuiIconButton-variantContained.MuiIconButton-colorMedium:hover { background-color: var(--color-medium-shade800) !important; }
  .MuiIconButton-variantContained.MuiIconButton-colorLight:hover { background-color: var(--color-light-shade800) !important; }
  .MuiIconButton-variantContained.MuiIconButton-colorSuccess:hover { background-color: var(--color-success-shade800) !important; }
  .MuiIconButton-variantContained.MuiIconButton-colorError:hover { background-color: var(--color-error-shade800) !important; }
  .MuiIconButton-variantContained.MuiIconButton-colorInfo:hover { background-color: var(--color-info-shade800) !important; }
  .MuiIconButton-variantContained.MuiIconButton-colorWarning:hover { background-color: var(--color-warning-shade800) !important; }
}

.MuiIconButton-variantFilled.MuiIconButton-colorPrimary { background-color: var(--color-primary-shade200) !important; }
.MuiIconButton-variantFilled.MuiIconButton-colorPrimaryLight { background-color: var(--color-primaryLight-shade200) !important; }
.MuiIconButton-variantFilled.MuiIconButton-colorSecondary { background-color: var(--color-secondary-shade200) !important; }
.MuiIconButton-variantFilled.MuiIconButton-colorDark { background-color: var(--color-dark-shade200) !important; }
.MuiIconButton-variantFilled.MuiIconButton-colorMedium { background-color: var(--color-medium-shade200) !important; }
.MuiIconButton-variantFilled.MuiIconButton-colorLight { background-color: var(--color-light-shade200) !important; }
.MuiIconButton-variantFilled.MuiIconButton-colorSuccess { background-color: var(--color-success-shade200) !important; }
.MuiIconButton-variantFilled.MuiIconButton-colorError { background-color: var(--color-error-shade200) !important; }
.MuiIconButton-variantFilled.MuiIconButton-colorInfo { background-color: var(--color-info-shade200) !important; }
.MuiIconButton-variantFilled.MuiIconButton-colorWarning { background-color: var(--color-warning-shade200) !important; }

.MuiIconButton-variantFilled.MuiIconButton-colorPrimary svg { color: var(--color-primary) !important; }
.MuiIconButton-variantFilled.MuiIconButton-colorPrimaryLight svg { color: var(--color-primaryLight) !important; }
.MuiIconButton-variantFilled.MuiIconButton-colorSecondary svg { color: var(--color-secondary) !important; }
.MuiIconButton-variantFilled.MuiIconButton-colorDark svg { color: var(--color-dark) !important; }
.MuiIconButton-variantFilled.MuiIconButton-colorMedium svg { color: var(--color-medium) !important; }
.MuiIconButton-variantFilled.MuiIconButton-colorLight svg { color: var(--color-light) !important; }
.MuiIconButton-variantFilled.MuiIconButton-colorSuccess svg { color: var(--color-success) !important; }
.MuiIconButton-variantFilled.MuiIconButton-colorError svg { color: var(--color-error) !important; }
.MuiIconButton-variantFilled.MuiIconButton-colorInfo svg { color: var(--color-info) !important; }
.MuiIconButton-variantFilled.MuiIconButton-colorWarning svg { color: var(--color-warning) !important; }

@media (hover: hover) {
  .MuiIconButton-variantFilled.MuiIconButton-colorPrimary:hover { background-color: var(--color-primary-shade300) !important; }
  .MuiIconButton-variantFilled.MuiIconButton-colorPrimaryLight:hover { background-color: var(--color-primaryLight-shade300) !important; }
  .MuiIconButton-variantFilled.MuiIconButton-colorSecondary:hover { background-color: var(--color-secondary-shade300) !important; }
  .MuiIconButton-variantFilled.MuiIconButton-colorDark:hover { background-color: var(--color-dark-shade300) !important; }
  .MuiIconButton-variantFilled.MuiIconButton-colorMedium:hover { background-color: var(--color-medium-shade300) !important; }
  .MuiIconButton-variantFilled.MuiIconButton-colorLight:hover { background-color: var(--color-light-shade300) !important; }
  .MuiIconButton-variantFilled.MuiIconButton-colorSuccess:hover { background-color: var(--color-success-shade300) !important; }
  .MuiIconButton-variantFilled.MuiIconButton-colorError:hover { background-color: var(--color-error-shade300) !important; }
  .MuiIconButton-variantFilled.MuiIconButton-colorInfo:hover { background-color: var(--color-info-shade300) !important; }
  .MuiIconButton-variantFilled.MuiIconButton-colorWarning:hover { background-color: var(--color-warning-shade300) !important; }
}

.MuiIconButton-variantTransparent.MuiIconButton-colorPrimary svg { color: var(--color-primary) !important; }
.MuiIconButton-variantTransparent.MuiIconButton-colorPrimaryLight svg { color: var(--color-primaryLight) !important; }
.MuiIconButton-variantTransparent.MuiIconButton-colorSecondary svg { color: var(--color-secondary) !important; }
.MuiIconButton-variantTransparent.MuiIconButton-colorDark svg { color: var(--color-dark) !important; }
.MuiIconButton-variantTransparent.MuiIconButton-colorMedium svg { color: var(--color-medium) !important; }
.MuiIconButton-variantTransparent.MuiIconButton-colorLight svg { color: var(--color-light) !important; }
.MuiIconButton-variantTransparent.MuiIconButton-colorSuccess svg { color: var(--color-success) !important; }
.MuiIconButton-variantTransparent.MuiIconButton-colorError svg { color: var(--color-error) !important; }
.MuiIconButton-variantTransparent.MuiIconButton-colorInfo svg { color: var(--color-info) !important; }
.MuiIconButton-variantTransparent.MuiIconButton-colorWarning svg { color: var(--color-warning) !important; }

@media (hover: hover) {
  .MuiIconButton-variantTransparent.MuiIconButton-colorPrimary:hover { background-color: var(--color-primary-shade200) !important; }
  .MuiIconButton-variantTransparent.MuiIconButton-colorPrimaryLight:hover { background-color: var(--color-primaryLight-shade200) !important; }
  .MuiIconButton-variantTransparent.MuiIconButton-colorSecondary:hover { background-color: var(--color-secondary-shade200) !important; }
  .MuiIconButton-variantTransparent.MuiIconButton-colorDark:hover { background-color: var(--color-dark-shade200) !important; }
  .MuiIconButton-variantTransparent.MuiIconButton-colorMedium:hover { background-color: var(--color-medium-shade200) !important; }
  .MuiIconButton-variantTransparent.MuiIconButton-colorLight:hover { background-color: var(--color-light-shade200) !important; }
  .MuiIconButton-variantTransparent.MuiIconButton-colorSuccess:hover { background-color: var(--color-success-shade200) !important; }
  .MuiIconButton-variantTransparent.MuiIconButton-colorError:hover { background-color: var(--color-error-shade200) !important; }
  .MuiIconButton-variantTransparent.MuiIconButton-colorInfo:hover { background-color: var(--color-info-shade200) !important; }
  .MuiIconButton-variantTransparent.MuiIconButton-colorWarning:hover { background-color: var(--color-warning-shade200) !important; }
}

.MuiIconButton-sizeSm {
  padding: 7px !important;
}

.MuiIconButton-sizeMd {
  padding: 8px !important;
}

.MuiIconButton-sizeLg {
  padding: 9px !important;
}
