.MuiAvatarGroup-root {
  justify-content: flex-end !important;
}

.MuiAvatarGroup-sizeXs {
  width: 24px !important;
  height: 24px !important;
  font-size: var(--font-size-text-xs) !important;
}

.MuiAvatarGroup-sizeSm {
  width: 30px !important;
  height: 30px !important;
  font-size: var(--font-size-text-sm) !important;
}

.MuiAvatarGroup-sizeMd {
  width: 36px !important;
  height: 36px !important;
  font-size: var(--font-size-text-md) !important;
}

.MuiAvatarGroup-sizeLg {
  width: 42px !important;
  height: 42px !important;
  font-size: var(--font-size-text-lg) !important;
}

.MuiAvatarGroup-sizeXl {
  width: 48px !important;
  height: 48px !important;
  font-size: var(--font-size-text-xl) !important;
}

.MuiAvatarGroup-sizeXxl {
  width: 54px !important;
  height: 54px !important;
  font-size: var(--font-size-text-xxl) !important;
}
